<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>AsyncPerformance</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body>
<div class="row">
<div class="col m-3">
{% for p in people.results %}
<div class="card p-3">{{p.name}}</div>
{% endfor %}
</div>
<div class="col m-3">

{% for p in starships.results %}
<div class="card p-3">{{p.name}}</div>
{% endfor %}
</div>
</div>
</body>
</html>